/* general settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: var(--font-size-base);
    font-family: 'Montserrat', sans-serif;

    --font-size-little: 14px;
    --font-size-base: 16px;
    --font-size-big: 18px;
    
    --bg-general: #F6F7FB;
    --bg-light-block: #ffffff; 
    --bg-dark-block: #27282B; 

    
    --shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    --shadow-big: 0px 0px 20px rgba(0, 0, 0, 0.4);
    
    --container: 100%; 
    --container-fluid: 100%;
    
    
    --color-text-revert: #ffffff;
    --color-text-dark: #000;
    --color-text: #86868B;
    --color-bold: #5B5B61;
    --color-title: #1D1D1F;
    --color-link: #1564b3;
    
    color: var(--color-text); 
    
    --br: 7px;
    --br-dynamic: 0px;
    --br-big: 20px;
    --br-dynamic-big: 0px;
    
    
    --navigation-color-active: #000000;
    --navigation-color-inactive: #BEBEBE;
    --navigation-color-hover: var(--navigation-color-active);
    --navigation-transitoin: 0.2s;
    --navigation-space-between-items: 15px;
    --navigation-height: 40px;
    --navigation-head-height: 85px; 


    
    /* review */
    --m-block-paddings: 20px 16px;
    --m-block-paddings-sides: 0 16px;
    --m-block-paddings-big: 35px 16px;

    --margin-1: 20px;
    --margin-2: 15px;
    --margin-3: 10px;

    --mobile-space: 16px;
} 
body {
    background: var(--bg-general);
} 
p {
    color: var(--color-text); 
    font-weight: 500;
    line-height: 24px; 
}
b {
    color: var(--color-bold);
}
a {
    color: var(--color-link);
    font-weight: 400;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-title);
    font-weight: 600;
    margin-bottom: 20px;
}
h1 {
    font-size: 40px; 
}
h2 {
    font-size: 32px; 
}
h3 {
    font-size: 28px; 
} 
h4 {
    font-size: 23px; 
    margin-bottom: 15px; 
}
h5 {
    font-size: 20px; 
}
h6 {
    font-size: 16px; 
}

/* basis components */
/* buttons */
button {
    outline: none;
    border: none;
    background: none;
    border-radius: 7px;
    font-weight: 500;
    padding: 5px 20px;
    cursor: pointer;
}
.btn-transparent {
    background: var(--bg-light-block);
    color: var(--color-text-dark);
}
.btn-black {
    background: #000;
    color: var(--color-text-revert);

}
.btn-blue {
    background: #5C6AEA;
    color: var(--color-text-revert);
}
.btn-border-black {
    border: 1.5px solid black;
}

.lock-scroll {
    overflow: hidden;
}
.panel {  
    position: relative;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: var(--bg-light-block);
    box-shadow: var(--shadow);
    border-radius: var(--br-dynamic);
    padding: var(--m-block-paddings);
    width: 100%; 
}  
.panel a {
    color: var(--color-text);
    margin-right: 10px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;   
} 
.panel-date-of {
    display: flex; 
    width: min-content;
}   
.panel-date-of p {
    margin-right: 10px;
    white-space: nowrap;
}
.panel-date-of img {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
}
/* card */
.card {
    position: relative;
    background: var(--bg-light-block);
    box-shadow: var(--shadow);
    border-radius: var(--br-dynamic-big);
    padding: var(--m-block-paddings-big);
    overflow: hidden;
    min-height: 200px;
}
.card > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
}
.card > .shadow-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(196, 196, 196, 0) 100%);
    z-index: 2;
}
.card > .shadow-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(196, 196, 196, 0) 100%);
    z-index: 2;
}
.card .card-data {
    position: relative; 
    z-index: 3;
}
.card .card-data * { 
    margin: 0; 
}
.card .card-data.color-revert * {
    margin: 0;
    color: var(--color-text-revert);
}

.overflow-ellipsis {
    margin-right: 20px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link-fluid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: 0;
    padding: 0;
    z-index: 10;
}
.image-fluid {
    display: block;
    flex-shrink: 0;
    object-fit: cover;
    min-width: 100%;
    height: 100%;
}
.img-fix {
    width: 100%;
    display: block;
    border-radius: var(--br-dynamic);
}

/* basis set up */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
} 
section{
    margin-bottom: 40px;
}
.centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: var(--container);
}
.container-fluid {
    width: var(---container-fluid);
}
.fix-navigation {
    margin-top: 100px;
}
.fix-footer {
    margin-top: 100px;
}

.mobile-space {
    margin-left: var(--mobile-space);
    margin-right: var(--mobile-space);
}

.mobile-space-block {
    margin-left: var(--mobile-space);
    margin-right: var(--mobile-space);
}

/* navigation */
.navigation-head {
    display: flex;
    justify-content: center;
    background: var(--bg-light-block);
    height: var(--navigation-head-height);
}
.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo .logoo {
    width: 50px;
    height: 50px;
    background: var(--bg-light-block);
    box-shadow: var(--shadow);
    margin-right: var(--margin-3);
}
.logo p {
    color: #000;
    font-size: 23px;
}
.in-up button:not(:last-child) {
    margin-right: 5px;
}


.nav-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background: var(--bg-light-block);
    box-shadow: var(--shadow);
    height: var(--navigation-height);
}
nav {
    display: flex;
    justify-content: center;
    width: var(--container);
    height: 100%;
    margin: 0 var(--mobile-space) 0 var(--mobile-space);
} 

.nav-item-wrapper {
    position: relative;
}

.nav-item p,
.nav-item svg {
    transition: var(--navigation-transitoin);
}

/* nav active */
.nav-item-wrapper.multi.active .nav-item p,
.nav-item-wrapper.multi.active .nav-item svg {
    stroke: var(--navigation-color-active);
    color: var(--navigation-color-active);
}
.nav-item-wrapper.multi:hover .nav-item p,
.nav-item-wrapper.multi:hover .nav-item svg {
    stroke: var(--navigation-color-active);
    color: var(--navigation-color-active);
}


.nav-item-wrapper.active .nav-item a {
    color: var(--navigation-color-active);
}
.nav-item-wrapper:hover .nav-item a {
    color: var(--navigation-color-hover);
}

.nav-item {
    display: flex; 
    align-items: center;
    padding: 0 var(--navigation-space-between-items);
    width: min-content;
    height: var(--navigation-height);
}
.nav-link {
    transition: var(--navigation-transitoin);
    color: var(--navigation-color-inactive);
    font-weight: 500;
    white-space: nowrap;
}
.nav-link:hover {
    color: var(--navigation-color-active);
}

/* multi nav item */
.nav-item-flex {
    display: flex;
    align-items: center; 
}
.nav-item-flex p {
    margin-right: 3px;
    user-select: none;
}
.nav-item-flex svg {
    stroke: var(--navigation-color-inactive);
}


/* drop down menu */
.nav-drop-down { 
    transition: var(--navigation-transitoin);
    position: absolute;
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    
    background: var(--bg-light-block);
    border-radius: var(--br);
    box-shadow: var(--shadow);
}
.dropdown-active .nav-drop-down {
    margin-top: var(--margin-3);
    visibility: visible;
    opacity: 1;
}
.drop-down-item {
    padding: 0 var(--margin-2);
}
.drop-down-item:last-child {
    margin-bottom: var(--margin-3);
}
.drop-down-item:first-child {
    margin-top: var(--margin-3);
}
.drop-down-item:not(:last-child) {
    padding-bottom: calc(var(--margin-2) / 2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.drop-down-item:not(:first-child) {
    padding-top: calc(var(--margin-2) / 2);
}





/* footer */
footer {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0; 
}
.footer-item {
    display: flex;
    justify-content: center;
    text-align: center; 
}
.footer-item:not(:last-child) {
    margin-bottom: 10px;
}



/* media */
@media screen and (min-width: 550px) {
    * { 
        font-size: 16px; 
        --container: calc(100vw - 80px); 
        --br: 7px;
        --br-dynamic: 7px;
        --br-big: 20px;
        --br-dynamic-big: 20px; 
        
        --m-block-paddings: 23px 20px;
        --m-block-paddings-sides: 0 16px;
        --m-block-paddings-big: 35px 30px;
    }
    .mobile-space {
        margin-left: 0;
        margin-right: 0;
    }
    .mobile-space-block {
        margin-left: 0px;
        margin-right: 0px;
    }

    /* navigation */
    
}
@media screen and (min-width: 720px) {

}

@media screen and (min-width: 960px) {
    /* general */
    section{
        margin-bottom: 100px;
    }
    /* general */
    .fix-navigation {
        margin-top: 130px;
    }
    /* navigation */
    
    
}

@media screen and (min-width: 1140px) {
    * { 
        --container: 1060px;
    }
    .fix-navigation {
        margin-top: 140px;
    }
}

@media screen and (min-width: 1320px) {
    * { 
        --container: 1250px;
    }
    
}  





/* @media screen and (min-width: 550px) {
    
}

@media screen and (min-width: 720px) {
    
}

@media screen and (min-width: 960px) {
    
}

@media screen and (min-width: 1140px) {
    
}

@media screen and (min-width: 1320px) {
    
} */