/* general settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: var(--font-size-base);
    font-family: 'Montserrat', sans-serif;

    --font-size-little: 14px;
    --font-size-base: 16px;
    --font-size-big: 18px;
    
    --bg-general: #F6F7FB;
    --bg-light-block: #ffffff; 
    --bg-dark-block: #27282B; 
    
    --shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    --shadow-big: 0px 0px 20px rgba(0, 0, 0, 0.4);
    
    --container: 100%; 
    --container-fluid: 100%;
    
    --color-text-revert: #ffffff;
    --color-text-dark: #000;
    --color-text: #86868B;
    --color-bold: #5B5B61;
    --color-title: #1D1D1F;
    --color-link: #1564b3;
    
    color: var(--color-text); 
    
    --br: 7px;
    --br-dynamic: 0px;
    --br-big: 20px;
    --br-dynamic-big: 0px;
    
    /* navigation */
    --navigation-color-active: #000000;
    --navigation-color-inactive: #BEBEBE;
    --navigation-color-hover: var(--navigation-color-active);
    --navigation-height: 65px;
    --navigation-head-height: 70px;
    --navigation-transition: 0.2s;
    
    /* review */
    --m-block-paddings: 20px 16px;
    --m-block-paddings-sides: 0 16px;
    --m-block-paddings-big: 35px 16px;

    --margin-1: 20px;
    --margin-2: 15px;
    --margin-3: 10px;

    --mobile-space: 16px;
}
body {
    background: var(--bg-general);
} 
p {
    color: var(--color-text); 
    font-weight: 500;
    line-height: 24px; 
}
b {
    color: var(--color-bold);
}
a {
    color: var(--color-link);
    font-weight: 400;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-title);
    font-weight: 600;
    margin-bottom: 20px;
}
h1 {
    font-size: 40px; 
}
h2 {
    font-size: 32px; 
}
h3 {
    font-size: 28px; 
} 
h4 {
    font-size: 23px; 
    margin-bottom: 15px; 
}
h5 {
    font-size: 20px; 
}
h6 {
    font-size: 16px; 
}

/* basis components */
/* buttons */
button {
    outline: none;
    border: none;
    background: none;
    border-radius: 7px;
    font-weight: 500;
    padding: 5px 20px;
    cursor: pointer;
}
.btn-transparent {
    background: var(--bg-light-block);
    color: var(--color-text-dark);
}
.btn-black {
    background: #000;
    color: var(--color-text-revert);

}
.btn-blue {
    background: #5C6AEA;
    color: var(--color-text-revert);
}
.btn-border-black {
    border: 1.5px solid black;
}

.lock-scroll {
    overflow: hidden;
}
.panel {  
    position: relative;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: var(--bg-light-block);
    box-shadow: var(--shadow);
    border-radius: var(--br-dynamic);
    padding: var(--m-block-paddings);
    width: 100%; 
}  
.panel a {
    color: var(--color-text);
    margin-right: 10px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;   
} 
.panel-date-of {
    display: flex; 
    width: min-content;
}   
.panel-date-of p {
    margin-right: 10px;
    white-space: nowrap;
}
.panel-date-of img {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
}
/* card */
.card {
    position: relative;
    background: var(--bg-light-block);
    box-shadow: var(--shadow);
    border-radius: var(--br-dynamic-big);
    padding: var(--m-block-paddings-big);
    overflow: hidden;
    min-height: 200px;
}
.card > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
}
.card > .shadow-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(196, 196, 196, 0) 100%);
    z-index: 2;
}
.card > .shadow-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(196, 196, 196, 0) 100%);
    z-index: 2;
}
.card .card-data {
    position: relative; 
    z-index: 3;
}
.card .card-data * { 
    margin: 0; 
}
.card .card-data.color-revert * {
    margin: 0;
    color: var(--color-text-revert);
}

.overflow-ellipsis {
    margin-right: 20px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link-fluid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: 0;
    padding: 0;
    z-index: 2;
}
.image-fluid {
    display: block;
    flex-shrink: 0;
    object-fit: cover;
    min-width: 100%;
    height: 100%;
}
.img-fix {
    width: 100%;
    display: block;
    border-radius: var(--br-dynamic);
}

/* basis set up */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
} 
section{
    margin-bottom: 40px;
}
.centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: var(--container);
}
.container-fluid {
    width: var(---container-fluid);
}
.fix-navigation {
    margin-top: 80px;
}
.fix-footer {
    margin-top: 100px;
}

.mobile-space {
    margin-left: var(--mobile-space);
    margin-right: var(--mobile-space);
}

.mobile-space-block {
    margin-left: var(--mobile-space);
    margin-right: var(--mobile-space);
}



/* navigation */
nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.head {
    display: none;
    justify-content: center;
    opacity: 1;
    background: var(--bg-light-block);
    padding: 0 var(--mobile-space);
    transition: var(--navigation-transition);
    height: var(--navigation-head-height);
    visibility: visible;
}
.head-hide {
    opacity: 0;
    height: 0;
    visibility: hidden;
}
.head-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--container);
    height: 100%;
}
.in-up button:not(:last-child) {
    margin-right: 10px;
}

.nav {
    position: relative;
    top: 0;
    left: 0;
    background: var(--bg-light-block);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    height: var(--navigation-height);
    z-index: 5;
}
.nav::before {
    background: var(--bg-light-block);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.logo a {
    color: var(--color-text-dark);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    z-index: 3;
}
.links {
    background: var(--bg-light-block);
    width: 100%;
    height: 100vh;
    padding: 0 16px;
    position: absolute;
    top: -20px;
    left: 0;
    opacity: 0;
    overflow: auto;
    transition: var(--navigation-transition) linear;
    visibility: hidden;
    z-index: -10;
}
.nav-link {
    color: var(--navigation-color-inactive);
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.nav-link:hover {
    color: var(--navigation-color-hover);
}
.nav-item:not(:last-child) {
    margin-bottom: 25px;
}

/* burger */
.burger {
    width: 30px;
    height: 15px;
    position: relative;
    z-index: 3;
}
.burger::before,
.burger::after {
    background: var(--navigation-color-active);
    content: "";
    height: 3px;
    position: absolute;
    transition: var(--navigation-transition); 
    width: 100%;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}

/* multi nav */
.multi-wrapper {
    display: flex;
    align-items: center;
}
.multi-wrapper .nav-link {
    margin-right: 3px;
}
.multi-wrapper svg {
    fill: var(--navigation-color-inactive);
}
.dropdown {
    display: none;
    opacity: 0;
    transition: var(--navigation-transition);
    visibility: hidden;
}
.dropdown li {
    list-style: none;
}
.dropdown li:not(:last-child) {
    margin-bottom: 10px;
}


/* open / active */
.nav.open .links {
    opacity: 1;
    top: 0;
    visibility: visible;
}
.nav.open .burger::before {
    transform: translateY(6px) rotate(45deg);
}
.nav.open .burger::after {
    transform: translateY(-6px) rotate(-45deg);
}
.nav-link.active {
    color: var(--navigation-color-active);
}
.nav-multi.active p {    
    color: var(--navigation-color-active);
}
.nav-multi.active svg {    
    fill: var(--navigation-color-active);
}
.nav-multi.active.open .dropdown { 
    border-left: 3px solid var(--navigation-color-active);
}
.nav-item.open .dropdown { 
    display: block;
    padding-left: 10px;
    border-left: 3px solid var(--navigation-color-inactive);
    margin: 15px 0 0 7px;
    opacity: 1;
    visibility: visible;
}



/* footer */
footer {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0; 
}
.footer-item {
    display: flex;
    justify-content: center;
    text-align: center; 
}
.footer-item:not(:last-child) {
    margin-bottom: 10px;
}



@media screen and (min-width: 550px) {
    * { 
        font-size: 16px; 
        --container: calc(100vw - 80px); 
        --br: 7px;
        --br-dynamic: 7px;
        --br-big: 20px;
        --br-dynamic-big: 20px; 
        
        --m-block-paddings: 17px 17px;
        --m-block-paddings-sides: 0 16px;
        --m-block-paddings-big: 35px 30px;

        --mobile-space: 0;
    }
    .mobile-space {
        margin-left: 0;
        margin-right: 0;
    }
    .mobile-space-block {
        margin-left: 0px;
        margin-right: 0px;
    }

    /* navigation */
    
}
@media screen and (min-width: 720px) {

}

@media screen and (min-width: 960px) {
    * {
        --navigation-height: 45px;
    }

    /* general */
    section{
        margin-bottom: 100px;
    } 
    
    /* navigation */
    .nav::before {
        display: none;
    }
    .nav .logo  {
        display: none;
    }
    .burger {   
        display: none;
    }
    .links {
        display: flex;
        justify-content: center;
        padding: 0;
        opacity: 1; 
        overflow: unset;
        position: static;
        visibility: visible;
        height: 100%;
    }
    .nav-link {
        font-size: 16px;
        font-weight: 400;
        white-space: nowrap;
    }
    .nav-item:not(:last-child) {
        margin-bottom: 0px;
    }
    .nav-item {
        display: flex;
        align-items: center;
        padding: 0 10px;  
        height: 100%;
    }
    .nav-multi {
        position: relative;
    }
    .dropdown {
        background: var(--bg-light-block);
        border-radius: var(--br);
        box-shadow: var(--shadow);
        display: block;
        opacity: 0;
        padding: var(--margin-2);
        position: absolute;
        top: var(--navigation-height);
        left: 0;
        transition: transform var(--navigation-transition) linear, opacity var(--navigation-transition) linear;
        min-width: 100%;
    }
    .nav-item.open .dropdown {
        border-left: none;
        opacity: 1;
        padding: 0;
        margin: 0;
        transform: translate(0, 10px);
    }
    .dropdown li {
        margin: 0;
    }
    .dropdown li {
        padding: var(--margin-3); 
    }
    .dropdown li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: calc(var(--margin-2) / 2);
        margin-bottom: 0;
    }
    .dropdown li:not(:first-child) {
        padding-top: calc(var(--margin-2) / 2);
    } 
    .nav-item.active.open .dropdown { 
        border-left: none;
    }

    .head {
        display: flex;
    }
}

@media screen and (min-width: 1140px) {
    * { 
        --container: 1060px;
    }
    .fix-navigation {
        margin-top: 150px;
    }
}

@media screen and (min-width: 1320px) {
    * { 
        --container: 1250px;
    }
    
}  





/* @media screen and (min-width: 550px) {
    
}

@media screen and (min-width: 720px) {
    
}

@media screen and (min-width: 960px) {
    
}

@media screen and (min-width: 1140px) {
    
}

@media screen and (min-width: 1320px) {
    
} */