<!DOCTYPE html>
<html>
<head>{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO --> 
    <meta name="keywords" content="Самбірський технікум економіки та інформатики, СТЕТІ, СТЕІ, статистичний технікум, статтехнікум, Самбір технікум,технікум м.Самбір, Самбір ВУЗи, ВУЗи Львівщини" />
    <meta name="description" content="Офіційний сайт Самбірського технікуму економіки та інформатики" />

    <!-- statics -->
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% block static %}{% endblock %}

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>{% block title %}STETI{% endblock %}</title>
</head>
<body>
    
    <!-- the wrapper to separate content from footer -->
    <div class="wrapper"> 
        <!-- navigation -->
        {% include 'base/conponents/navigation.html' %}

        <!-- content -->
        {% block content %}{% endblock %} 

        <!-- footer -->
        {% include 'base/conponents/footer.html' %}
    </div>

    <!-- javascript -->
    <script src="{% static '/base/js/base.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>