<div class="navigation">
    <span class="logo"><a href="{% url 'home' %}">STETI</a></span>
    <nav>
        <div class="nav-item">{% url 'home' as url_home %}
            <a href="{% url 'home' %}" class="nav-link {% if request.path == url_home %}nav-link-active{% endif %}">Головна</a>
        </div>

        <div class="nav-item">
            <a href="" class="nav-link nav-link-inactive">Новиши та оголошення</a>
        </div>

        <div class="nav-item multi-nav">
            <div class="link-view-unit">
                <a href="" class="nav-link nav-link-inactive">Про заклад</a>
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.5 7.5L0.870834 0.75L12.1292 0.75L6.5 7.5Z"/>
                </svg>
            </div>

            <div class="nav-expanded multi-nav-part">
                <a href="" class="nav-link nav-link-inactive">Галерея</a>
            </div>
            <div class="nav-expanded multi-nav-part">
                <a href="" class="nav-link nav-link-inactive">Контакти</a>
            </div>
        </div>

        <div class="nav-item multi-nav">
            <div class="link-view-unit">
                <a href="" class="nav-link nav-link-inactive">Навчання</a>
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.5 7.5L0.870834 0.75L12.1292 0.75L6.5 7.5Z"/>
                </svg>
            </div>

            <div class="nav-expanded multi-nav-part">
                <a href="" class="nav-link nav-link-inactive">Бабліотека</a>
            </div>
            <div class="nav-expanded multi-nav-part">
                <a href="" class="nav-link nav-link-inactive">Абітурієнту</a>
            </div>
            <div class="nav-expanded multi-nav-part">
                <a href="" class="nav-link nav-link-inactive">ЗНО</a>
            </div>
        </div>
    </nav>

    <!-- <div class="burger">
        <span></span>
    </div> -->
</div>