{% extends 'base/base.html' %}
{% load static %}

<!-- static files -->
{% block static %}<link rel="stylesheet" href="{% static 'about/css/contacts.css' %}">{% endblock %}


<!-- document title -->
{% block title %}STETI{% endblock %}

<!-- base content -->
{% block content %}
        <div class="centralize">
            <section class="container fix-navigation faces">
                <h2 class="mobile-space">Контакти</h2>
                {% for face in faces %}

                <div class="face-part"> 
                    <img class="image-fluid face-view" src="{{ face.view.url }}" alt="">
                    <div class="face-description">
                        <h3>{{ face.FL }}</h3>
                        <b>{{ face.positon }}</b>
                        <p>{{ face.description }}</p>
                        <div class="phone-number">
                            <img src="{% static '/base/img/icon-phone.svg' %}" alt="">
                            <p>{{ face.phone_number }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>

            <section class="container">
                <div class="other-phone-numbers">
                    {% for phone_number in phone_numbers %}
                    <div class="other-phone-number"> 
                        <h4>{{ phone_number.name }}</h4>
                        <div class="phone-number">
                            <img src="{% static '/base/img/icon-phone.svg' %}" alt="">
                            <p>{{ phone_number.phone_number }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
{% endblock %}

<!-- javascript -->
{% block scripts %}
        <script>
            let faceView  = document.querySelectorAll('.face-view'),
                faceWidth = faceView[0].getBoundingClientRect().width

            for (let i = 0; i < faceView.length; i++) {
                faceView[i].style.height = faceWidth + 'px'
            }
        </script>
{% endblock %}