{% extends 'base/base.html' %}
{% load static %}

<!-- static files -->
{% block static %}<link rel="stylesheet" href="{% static 'about/css/gallery-details.css' %}">{% endblock %}


<!-- document title -->
{% block title %}STETI{% endblock %}

<!-- base content -->
{% block content %}
        <div class="centralize">
            <section class="container fix-navigation faces">
                <h2 class="mobile-space">{{ imgs.categoru_name }}</h2>
                <div class="images">
                    {% for img in imgs.images.all %}
                    <div class="image">
                        <img class="image-fluid" src="{{ img.image.url }}" alt="{{ category.image.name }}">  
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
{% endblock %}

<!-- javascript -->
{% block scripts %}{% endblock %}