/* news details */
.details_header {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 25px;
}
.details_header i {
    color: var(--color-muted);
}
.details_header h2 {
    margin-top: 0;
    margin-bottom: 8px;
}
.news_image {
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.image_wrapper {
    box-shadow: var(--shadow-regular);
    border-radius: var(--br-regular);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}


/* XS / Extra small */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    .image_wrapper {
        max-height: 350px;
    }
}

/* SM / Small */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .image_wrapper {
        max-height: 350px;
    }
}

/* MD / Medium */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .image_wrapper {
        max-height: 450px;
    }
}

/* LG / Large */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .image_wrapper {
        max-height: 450px;
    }
}

/* XL / Extra large */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .image_wrapper {
        max-height: 450px;
    }
}

/* XXL / Extra extra large */
@media only screen and (min-width: 1401px) {
    .image_wrapper {
        max-height: 450px;
    }
}
