{% extends 'base/base.html' %}
{% load static %}

<!-- static files -->
{% block static %}<link rel="stylesheet" href="{% static 'NAE/css/news-announcements.css' %}">{% endblock %}

<!-- document title -->
{% block title %}STETI{% endblock %}

<!-- base content -->
{% block content %}
        <div class="centralize">
            <section class="container fix-navigation">
                <h2 class="mobile-space">Новини</h2>
                {% if news %}
                <div class="news">
                    {% for news_item in news %}
                    {% if news_item.img %}
                    <div class="news-item">
                        <img src="{{ news_item.img.url }}" alt="">
                        <div class="news-shadow">
                            <h3 class="overflow-ellipsis">{{ news_item.title }}</h3>
                            <p>{{ news_item.pub_date | date:'d M. Y' }}</p>
                        </div>
                        <a class="link-fluid" href="{% url 'news_detail' news_item.slug %}"></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="more-news">
                    <a class="mobile-space" href="{% url 'news' %}">Дивитись більше</a>
                </div>
                {% else %}
                <p class="mobile-space">Покищо немає новин</p>
                {% endif %}
            </section> 

            <section class="container">
                <h2 class="mobile-space">Оголошення</h2>

                {% if announcements %}
                <div class="announcements">
                    {% for announcements_item in announcements %} 
                  
                    
                    <div class="panel"> 
                        <a href="{% url 'announcement_detail' announcements_item.slug %}">{{ announcements_item.title }}</a>
                         
                        <div class="panel-date-of">
                            <p>{{ announcements_item.pub_date | date:'d M. Y' }}</p>
                            <img src="{% static 'base/img/icon-calendar.svg' %}" alt="">
                        </div> 
                    </div>
                    {% endfor %}
                     <div class="panel"> 
                        <a href="{% url 'announcements' %}">Дивитись більше</a>
                    </div>                    
                </div>
                {% else %}
                <p class="mobile-space">Покищо немає оголошення</p>
                {% endif %}
            </section>
        </div>
{% endblock %}

<!-- javascript -->
{% block scripts %}{% endblock %}