{% extends 'basis/basis.html' %}
{% load static %}

<!-- static files -->
{% block static %}<link rel="stylesheet" href="{% static 'main/css/main.css' %}">{% endblock %}


<!-- document title -->
{% block title %}{% endblock %}

<!-- basis content -->
{% block content %}
        <div class="centralize">
            <!-- header -->
            <section class="container fix-navigation header">
                <div class="left-side">
                    <h1>Sambir College of<br> Economics and<br> Information<br> Technology</h1>
                    <div class="events">
                        <h3>Події</h3>

                        {% for event_item in event %}
                        <div class="panel event-item"> 
                            <a href="">{{ event_item.title }}</a>

                            <div class="panel-date-of">
                                <p>{{ event_item.event_date | date:'d M. Y' }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <svg class="event-arrow" width="42" height="17" viewBox="0 0 42 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 2L21 14L40 2" stroke="#86868B" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </div>
                </div>

                <div class="right-side">
                    <div class="board">
                        <div class="board-news">
                            <h3>Новини</h3> 
                            {% for news_item in news %}
                            <div class="news-item"> 
                                <a href="">{{ news_item.title }}</a>
                                <svg width="36" height="10" viewBox="0 0 36 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="5" cy="5" r="5"/>
                                    <circle cx="18" cy="5" r="5"/>
                                    <circle cx="31" cy="5" r="5"/>
                                </svg>
                            </div>
                            {% endfor %}
                            
                            <div class="board-learn-more"> 
                                <a href="">Дивитись більше</a>
                            </div>
                        </div>

                        <div class="board-advertisement">
                            <h3>Оголошення</h3> 
                            {% for advertisement_item in advertisement %}
                            <div class="advertisement-item"> 
                                <a href="">{{ advertisement_item.title }}</a>
                                <svg width="36" height="10" viewBox="0 0 36 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="5" cy="5" r="5"/>
                                    <circle cx="18" cy="5" r="5"/>
                                    <circle cx="31" cy="5" r="5"/>
                                </svg>
                            </div> 
                            {% endfor %}

                            <div class="board-learn-more"> 
                                <a href="">Дивитись більше</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- for student -->
            <section class="container">
                <h2>Студенту</h2>
                
                <div class="for-student"> 
                    {% for to_student_item in to_student %}
                    <div class="panel"> 
                        <a href="">{{ to_student_item.title }}</a>

                        <div class="panel-date-of"> 
                            <p>{{ to_student_item.pub_date | date:'d M. Y' }}</p>
                        </div>
                    </div>
                    {% endfor %} 
                    <div class="panel"> 
                        <a href="">Дивитись більше</a>
                    </div>
                </div>
            </section>

            <!-- departments -->
            <section class="container">
                <h2>Кафедри</h2>
                <div class="departments">
                    {% for department in departments %}
                    <div class="card">
                        <h3>{{ department.name }}</h3>
                        <p>{{ department.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!-- our goal and mission -->
            <section class="container our-goal-and-mission">
                <div class="our-gm-description">
                    <h2>Наша ціль та місія</h2>
                    <p>У нас працюють педегоги які знають та любляьть свою справу, тому вони хочуть та прагнуть передати студентам свої знання, які пригодяться їм в майбутньому. Адміністрація також зацікавленя в ефективному та якісному навчанні студентівф, тому створює благо приємні умови для навчання. Ми розуміємо як складно студентам після звкінчення закдаду, найти роботу, тому всіма силами намагаємся допомогти кожному хто прикладає хочаб чуть чуть зусиль.</p>
                </div>
                <img src="{% static 'main/img/our-goal-and-mission.jpg' %}" alt="">
            </section> 

            <!-- steps to success -->
            <section class="container steps-wrapper">
                <div class="steps-description">
                    <h2>Кроки до успіху</h2>
                    <p>Ходять чутки дехто пройшов цей шлях в порядку курсів як і на кроках описаних тут.</p>
                    <svg width="210" height="303" viewBox="0 0 210 303" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.21298 3.1129C6.27533 1.7336 5.20773 0.564903 3.82843 0.502551C2.44912 0.440198 1.28043 1.5078 1.21808 2.8871L6.21298 3.1129ZM209.453 268.906C209.72 267.552 208.838 266.237 207.484 265.97L185.408 261.618C184.054 261.351 182.739 262.233 182.472 263.587C182.205 264.942 183.087 266.257 184.441 266.524L204.064 270.392L200.195 290.014C199.928 291.369 200.81 292.684 202.165 292.951C203.519 293.218 204.834 292.336 205.101 290.981L209.453 268.906ZM1.21808 2.8871C-1.90849 72.0502 4.48537 168.676 34.1407 233.214C48.977 265.501 69.8463 290.205 98.699 299.015C127.587 307.836 163.681 300.485 208.392 270.499L205.608 266.346C161.513 295.919 127.013 302.433 100.159 294.233C73.2696 286.022 53.2478 262.821 38.684 231.126C9.5391 167.699 3.09635 72.0559 6.21298 3.1129L1.21808 2.8871Z" fill="black"/>
                    </svg>
                </div>
                <div class="steps-to-success">
                    <div class="step-one">
                        <h3>навчання</h3>
                        <p>Поступити на навчання в Технікум.</p>
                        <span class="number-of-step">1</span>
                    </div>
                    <div class="step-two">
                        <h3>самонавчання</h3>
                        <p>Потрібно зайнятися самонавчанням.</p>
                        <span class="number-of-step">2</span>
                    </div>
                    <div class="step-three">
                        <h3>розвиток</h3>
                        <p>Вибераємо напрямок в вашій професії та починаємо розвиватись в ньому.</p>
                        <span class="number-of-step">3</span>
                    </div>
                    <div class="step-fuour">
                        <h3>результат</h3>
                        <p>Після того як ви освоїди всі необхідні навички в вашій галузі і закінчили навчання, вітаю! Приступайте до пошуку роботи.</p>
                        <span class="number-of-step">4</span>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}

<!-- javascript -->
{% block scripts %}{% endblock %}