.fff {
    height: 1000px;
}
/* header */ 
.left-side {
    width: 100%;
} 
.right-side {
    width: 100%;
}

/* event */
.events {
    width: 100%; 
}  
.events .panel {
    margin-bottom: 30px;
}
.event-arrow {
    display: flex;
    justify-content: center;
    width: 100%; 
}
 
/* board */
.board {
    padding: var(--m-block-paddings-big);
    margin-top: 70px;

    width: 100%; 

    background: var(--bg-light-block); 

    box-shadow: var(--main-shadow);
    border-radius: var(--br-dynamic);
}
.board-news {
    margin-bottom: 50px;
} 

.news-item,
.advertisement-item,
.board-learn-more {
    display: flex;
    justify-content: space-between;
    align-items: center; 
} 
.news-item:not(:last-child), 
.advertisement-item:not(:last-child) {
    margin-bottom: 20px;
}
.news-item a,
.advertisement-item a {
    color: var(--color-text); 
} 

/* for student */ 
.for-student {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

/* department */
.departments {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

/* our-goal-and-mission */ 
.our-gm-description {
    margin-bottom: 50px; 
}
.our-goal-and-mission img {
    border-radius: var(--br-dynamic-big);
    box-shadow: var(--main-shadow);
    width: 100%;
}

/* steps to success */ 
.steps-description { 
    padding-bottom: 30px;
}
.steps-description svg {
    margin: 30px auto;
    display: none;
}
.steps-to-success {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px; 
}
.steps-to-success div { 
    position: relative;
    background: #3F3D56;
    
    padding: var(--m-block-paddings-big);
    border-radius: var(--br-dynamic-big);
    
    width: 100%; 
}
.steps-to-success h3 {
    position: relative; 
    color: #FF6584;
    z-index: 1;
}
.steps-to-success p {
    position: relative;
    color: #fff;
    z-index: 1;
}
.number-of-step { 
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-size: 150px;
    font-weight: 600;
    color: #39374A;
    z-index: 0;
}

@media screen and (min-width: 550px) {
    
}

@media screen and (min-width: 720px) {

}

@media screen and (min-width: 960px) {
    /* header */ 
    .left-side {
        display: flex;
        justify-content: space-between;
    }   
    .left-side h1 {
        width: 30%;
    }
    .events {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
    }
    
    /* board */
    .board {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1140px) {
    
}

@media screen and (min-width: 1320px) {
    
}