.calendar-icon {
    fill: var(--color-text);
}
.panel {
    display: flex;
    justify-content: space-between;

    background: var(--bg-light-block);
    box-shadow: var(--main-shadow);
    border-radius: var(--br);
    padding: 30px;
    width: 100%; 
}
.panel a,
.panel svg {
    color: var(--color-text);
    fill: var(--color-text);
}
.panel-date-of {
    display: flex;
    background: url(../img/icon-calendar.svg) 99% 0 no-repeat;  
    padding-right: 30px;
    text-overflow: ellipsis;
} 


.card {
    background: var(--bg-light-block);
    box-shadow: var(--main-shadow);
    border-radius: var(--br-big);
    padding: 60px 60px 65px 60px;
}

.fff {
    height: 1000px;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
}
.left-side {
    width: 50%;
}
.right-side {
    width: 50%;
}

/* event */
.events {
    max-width: 535px;
    margin-top: 70px;
} 
  
.event-item {
    margin-bottom: 30px;
}
.event-arrow {
    display: flex;
    justify-content: center;
    width: 100%; 
}

/* board */
.board {
    padding: 50px;
    margin-top: 10vh;

    width: 650px;
    height: 800px; 

    background: var(--bg-light-block); 

    box-shadow: var(--main-shadow);
    border-radius: var(--br);
}
.board-news {
    margin-bottom: 50px;
}
.board-news,
.board-advertisement {
    min-height: 40%;
} 

.news-item,
.advertisement-item,
.board-learn-more {
    display: flex;
    justify-content: space-between;
    align-items: center; 
} 
.news-item:not(:last-child), 
.advertisement-item:not(:last-child) {
    margin-bottom: 20px;
}
.news-item a,
.advertisement-item a {
    color: var(--color-text); 
}
.news-item svg,
.advertisement-item svg {
    fill: var(--color-text);
}

/* for student */ 
.for-student {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

/* department */
.departments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

/* our-goal-and-mission */
.our-goal-and-mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-gm-description {
    padding-right: 50px;
    width: 50%;
}
.our-goal-and-mission img {
    border-radius: var(--br-big);
    box-shadow: var(--main-shadow);
    width: 50%;
}

/* steps to success */
.steps-wrapper {
    display: flex;
}
.steps-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}
.steps-description svg {
    margin: 30px auto;
}
.steps-to-success {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    width: min-content;
}
.steps-to-success div { 
    position: relative;
    background: #3F3D56;
    
    padding: 40px;
    border-radius: var(--br-big);
    
    width: 45vh;
    height: 45vh;
}
.steps-to-success h3 {
    position: relative; 
    color: #FF6584;
    z-index: 1;
}
.steps-to-success p {
    position: relative;
    color: #fff;
    z-index: 1;
}
.number-of-step { 
    position: absolute;
    bottom: 0px;
    right: 30px;
    font-size: 200px;
    font-weight: 600;
    color: #39374A;
    z-index: 0;
}