.library_view {
    display: flex;
    flex-direction: column;
    background: var(--bg-block);
    border-radius: var(--br-regular);
    box-shadow: var(--shadow-regular);
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image_wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.image_wrapper img {
    display: block;
    flex-shrink: 1;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.image_filter {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.library_name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 0;
    flex: 1;
    z-index: 2;
}
.library_name h3 {
    margin: 0;
}

/* XS / Extra small */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    .library_name {
        padding: 20px;
    }
    .image_filter {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 100%);
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .library_name {
        padding: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .library_view {
        height: 320px;
    }
    .library_name {
        padding: 30px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .library_view {
        height: 220px;
    }
    .library_name {
        padding: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .library_view {
        height: 350px;
    }
    .library_name {
        padding: 40px;
    }
}