[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=petryk
Group=petryk
WorkingDirectory=/home/petryk/dev/STETI/backend
ExecStart=/home/petryk/dev/STETI/env/env/bin/gunicorn --error-logfile /home/petryk/dev/STETI/env/systemd/log/error.log --access-logfile /home/petryk/dev/STETI/env/systemd/log/access.log --workers 3 --bind localhost:8000 config.wsgi

[Install]
WantedBy=multi-user.target
