{% extends 'base/base.html' %}
{% load static %}

<!-- static files -->
{% block static %}<link rel="stylesheet" href="{% static 'study/css/library-details.css' %}">{% endblock %}

<!-- document title -->
{% block title %}STETI{% endblock %}

<!-- base content -->
{% block content %}
	<div class="centralize">
		<section class="container fix-navigation">
            <h2 class="mobile-space">{{ library_name }}</h2> 
			<div class="all-items">
				{% for library_item in library_items %}
				<div class="panel"> 
					<p href="">{{ library_item.name }}</p>
					
					<a href="{{ library_item.link }}" class="link-fluid"></a>
				</div>            
				{% endfor %}
			</div>
        </section>
    </div>
{% endblock %}

<!-- javascript -->
{% block scripts %}{% endblock %}