.all-categorys {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.all-categorys .card {
    position: relative;
    min-height: 300px;
    overflow: hidden;
}

@media screen and (min-width: 960px) {
    .all-categorys {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}