* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    /* typography */
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--color-regular);
    font-weight: 400;
    line-height: 1.75;


    /* values */
    --color-regular: #1D1D1F;
    --color-revert: #fff;
    --color-primary: #0071E3;
    --color-muted: #858585;
    --color-danger: #EB3030;
    --color-warning: #FF9F2F;
    --color-success: #31DD57;

    --color-title: #1D1D1F;
    --color-link: #0066CC;

    --bg-wrapper: #F6F7FB;
    --bg-block: #fff;

    --br-regular: 7px;
    --br-litle: 3px;
    --br-big: 10px;
    --br-bigest: 15px;

    --shadow-regular: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-little: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* typography */
p, 
small,
.text_small {
    color: var(--color-regular);
}
a {
    color: var(--color-link);
    cursor: pointer;
    text-decoration: none;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    color: var(--color-title);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 3rem 0 1.38rem;
    line-height: 1.3;
}

h1 {margin-top: 0;}


/* containers */
.wrapper {
    background: var(--bg-wrapper);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
    min-height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.container {
    width: var(--container-width);
    padding: var(--container-padding);
}
.container-fluid {
    width: 100%;
}
.centralize {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Extra large screens, TV */
@media only screen and (min-width: 1400px) and (max-width: 9999px) {

}
@media only screen and (min-width: 1400px) {
    * {
        --container-width: 1280px;
        --container-padding: 0;
    }

    
    /* containers */
    .container {
        width: var(--container-width);
    }   
}



@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    * {
        --container-width: 100%;
        --container-padding: 0 60px;
    } 


    /* containers */
    .container {
        width: var(--container-width);
        padding: var(--container-padding);
    }
}


/* Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    * {
        --container-width: 100%;
        --container-padding: 0 60px;
    } 


    /* containers */
    .container {
        width: var(--container-width);
        padding: var(--container-padding);
    }
}


/* Small screens, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    * {
        --container-width: 100%;
        --container-padding: 0 40px;
    }


    /* containers */
    .container {
        width: var(--container-width);
        padding: var(--container-padding);
    }
}


/* iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    * {
        --container-width: 100%;
        --container-padding: 0 22px;
    }


    /* typography */
    h1 {font-size: 2.488rem;}
    
    h2 {font-size: 2.074rem;}
    
    h3 {font-size: 1.728rem;}
    
    h4 {font-size: 1.44rem;}
    
    h5 {font-size: 1.2rem;}
    
    small, .text_small {font-size: 0.833rem;}


    /* containers */
    .container {
        width: var(--container-width);
        padding: var(--container-padding);
    }
}

@media only screen and (min-width: 769px) {
    /* typography */
    small, .text_small {font-size: 0.8rem;}

    h1 {font-size: 3.052rem;}

    h2 {font-size: 2.441rem;}

    h3 {font-size: 1.953rem;}

    h4 {font-size: 1.563rem;}

    h5 {font-size: 1.25rem;}
}


/* Mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    * {
        --container-width: 100%;
        --container-padding: 0 16px;
    }


    /* typography */
    small, .text_small {font-size: 0.889rem;}

    h1 {font-size: 1.802rem;}

    h2 {font-size: 1.602rem;}

    h3 {font-size: 1.424rem;}

    h4 {font-size: 1.266rem;}

    h5 {font-size: 1.125rem;}


    /* containers */
    .container {
        width: var(--container-width);
        padding: var(--container-padding);
    }
}
