{% extends 'base/base.html' %}
{% load static %}

<!-- static files -->
{% block static %}<link rel="stylesheet" href="{% static 'study/css/for-student.css' %}">{% endblock %}

<!-- document title -->
{% block title %}STETI{% endblock %}

<!-- base content -->
{% block content %}
	<div class="centralize">
		<section class="container fix-navigation">
            <h2 class="mobile-space">Студенту</h2> 
			<div class="all_imes">
                {% for for_student_item in for_student %}
                <div class="panel"> 
                                
                    <a href="">{{ for_student_item.title }}</a>
                    
                    <div class="panel-date-of">
                        <p>{{ for_student_item.pub_date | date:'d M. Y' }}</p>
                        <img src="{% static 'base/img/icon-calendar.svg' %}" alt="">
                    </div> 
                </div>
                {% endfor %}
            </div>
        </section>
    </div>   
{% endblock %}

<!-- javascript -->
{% block scripts %}{% endblock %}