{% extends 'base/base.html' %}
{% load static %}

<!-- static files -->
{% block static %}<link rel="stylesheet" href="{% static 'study/css/study.css' %}">{% endblock %}

<!-- document title -->
{% block title %}STETI{% endblock %}

<!-- base content -->
{% block content %}
	<div class="centralize">
		<section class="container fix-navigation">
            <h2 class="mobile-space">Бібліотека</h2> 
			<div class="all-categorys">
				{% for category in categorys %}
				<div class="card">
					{% if category.background %}
					<img src="{{ category.background.url }}" alt="">
					{% endif %}
					{% if category.is_shadow %}
					<div class="shadow-top"></div>
					{% endif %}
					<div class="card-date">
						<h3>{{ category.category_name }}</h3> 
					</div>
					<a href="{% url 'library_detail' category.slug %}" class="link-fluid"></a>
				</div>               
				{% endfor %}
			</div>
        </section>
    </div>
{% endblock %}

<!-- javascript -->
{% block scripts %}{% endblock %}