.record-header {
    margin-bottom: 30px; 
}
.record-images {
    margin-top: 20px;
}
.record-images img {
    width: 100%;
    border-radius: var(--br-dynamic);
    box-shadow: var(--shadow);
}

.more-images img {
    width: 100%;
    border-radius: var(--br-dynamic);
    box-shadow: var(--shadow);
}
.more-images img:not(:last-child) {
    margin-bottom: 30px;
}


@media screen and (min-width: 550px) {
    
}

@media screen and (min-width: 720px) {
     
}

@media screen and (min-width: 960px) { 
    .record-header {
        margin-bottom: 60px; 
    }
    .record-header,
    .more-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

@media screen and (min-width: 1140px) {
    
}

@media screen and (min-width: 1320px) {
    
}